[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
bcrypt = "*"
cryptography = "*"
sphinx = "*"
urllib3 = "==1.25.11"  # Specify an older version of urllib3

[dev-packages]
"flake8" = "*"
ipython = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flask = "*"

[requires]
python_version = "3.9"
