[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
bcrypt = "*"
cryptography = "*"
sphinx = "*"
urllib3 = "==1.26.7"  # Specify a specific version of urllib3
ssl = "==1.1.1"      # Specify a specific version of ssl

[dev-packages]
"flake8" = "*"
ipython = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
